@tailwind base;
@tailwind components;
@tailwind utilities;

.debug {
  border: 1px solid red;
}

h1 {
  @apply text-2xl font-bold text-gray-800;
}

td,
th {
  border: 1px solid black;
}

th {
  @apply bg-gray-800 text-white px-3;
}

tr:nth-child(odd) {
  @apply bg-gray-300;
}

td {
  @apply text-center;
}

label {
  @apply flex flex-col;
}

input {
  @apply outline-none border border-gray-300 focus:border-indigo-500 px-2 py-1 rounded-lg;
}

button,
button[type='button'] {
  @apply bg-indigo-800 text-white px-3 py-2 rounded-lg hover:bg-indigo-500;
}

button:disabled {
  @apply bg-gray-300 text-gray-500 cursor-not-allowed;
}

select {
  @apply outline-none border border-gray-300 focus:border-indigo-500 px-2 py-1 rounded-lg;
}

.secondary {
  @apply hover:bg-gray-400 text-gray-800 bg-gray-200;
}

li {
  @apply border border-gray-200 rounded-md text-gray-200 px-3 py-2;
}

li:hover {
  @apply bg-gray-700 cursor-pointer;
}

.logo-white {
  @apply bg-transparent text-2xl text-white !important;
}

.logo-dark {
  @apply bg-transparent text-2xl text-gray-900 hover:bg-gray-50 !important;
}

.sidebar-mobile {
  @apply absolute top-0 left-0 w-1/2 h-screen;
}

.sidebar-desktop {
  @apply w-64 px-3 py-5 text-white md:relative;
}
